{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
                <h2>Write a text post with jQuery-File-Upload</h2>
            </div>
            <div class="card-body">
                {% load crispy_forms_tags %}
                <form action="" method="post">
                    {% crispy form %}
                    <div class="form-group row">
                        <div class="aab col-2 col-form-label"></div>
                        <div class="col-10">
                            <input name="submit" value="Write" class="btn btn-primary" type="submit">
                        </div>
                    </div>
                </form>
            </div>
            <div id="files" class="card-footer">
                <ul>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.fileupload.js' %}"></script>
    <script src="{% static 'js/csrf-cookie.js' %}"></script>
    <script src="{% static "js/post-basic-upload.js" %}"></script>
{% endblock %}