{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
                <h2>Write a HTML post</h2>
            </div>
            <div class="card-body">
                {% load crispy_forms_tags %}
                <form action="" method="post">
                    {% crispy form %}
                </form>
            </div>
            <div id="files" class="card-footer">
                <ul>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/vendor/summernote-bs4.css" %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.fileupload.js' %}"></script>
    <script src="{% static 'js/csrf-cookie.js' %}"></script>
    <script src="{% static "js/vendor/summernote-bs4.js" %}"></script>
    <script src="{% static "js/post-summernote.js" %}"></script>
{% endblock %}