{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="card my-4">
            <div class="card-header">
                <h2>{{ post.title }}</h2>
            </div>
            <div class="card-body">
                {{ post.body|safe|linebreaks }}
            </div>
            <div class="card-footer">
                <ul>
                    {% for attachment in post.attachments.all %}
                        <li><a href="{{ attachment.file.url }}">{{ attachment.file.name }}</a></li>
                    {% empty %}
                        <li>No files.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}